<div class="home-stuff">
  <h1>Welcome to Collaboetry!</h1>
  <!-- <% if (!poems[0]) { %>
    <h2>Aw geez</h2>
    <h3>You haven't posted any of your work. Go do that now!</h3>
  <% } else { %> -->
  <h2>Here's every poem you've posted thus far: </h2>
  <% poems.forEach(function(poem){ %>
    <div class="poems-by-author">
      <h2><a href="/poems/authors/<%= poem.poetID %>/<%= poem._id %>"><%= poem.title || "untitled" %></a></h2>
      <% if (poem.previousVersions.length - 1 > 0) { %>
        <h3><a href='/poems/authors/<%= poem.poetID %>/<%= poem._id %>/previous'><%= poem.previousVersions.length -1 %> edits</a> from your friends!</h3>
      <% } else { %>
        <h3>No one has edited this yet. Go yell at your friends!</h3>
      <% } %>
    </div>
  <% }); %>
  <br>
  <h3>Go read stuff by other people <a href="/poems/authors"><b>here</b></a><h3>
  <!-- <% } %> -->
</div>
