<h1>Edit Someone Else's Garbage!</h1>

<div class="poem-submit-note">
  <p>NOTE: this field uses Markdown formatting. You can use tags to format the text on the left to your heart's content, and the formatted text will appear on the right.</p>
  <p>For information on Markdown, check out <a href="http://markdowntutorial.com/" target="_blank"><b>this tutorial</b></a>.</p>
</div>

<div class="poem-form">
  <% var versionLength = poem.previousVersions.length - 1; %>
  <form action="/poems/authors/<%= authorID %>/<%= poemID %>/edit?_method=PATCH" method="post">
    <input type="text"
           name="poem[title]"
           value="<%= poem.previousVersions[versionLength].title %>"><br>
    <textarea class="content markdown"
              name="poem[content][]"><%= poem.previousVersions[versionLength].content %></textarea>
    <div class="content preview"></div>
    <!-- <input type="text"
           name="poem[tags][]"
           placeholder="Any keywords/tags you'd like to include?"><br> -->
    <div>
    <% poem.commentsHistory.forEach(function(comment, i) { %>
      <div class="show-poem-comments">
        Comments from <%= poem.commentsHistory[i].username %>: <%= comment.comments %>
      </div><br>
    <% }); %>
    </div>
    <textarea class="poem-comments"
           name="poem[comments][]"
           placeholder="Any comments to add?"></textarea><br>
    <input type="submit" value="Post your edit!"><br>
  </form>
</div>
<div class="go-back">
  <h2>Change your mind?</h2>
  <h3>Go <a href="/poems/authors"><b>here</b></a> and find something else to critique..</h3>
</div>
