<script src="https://cdnjs.cloudflare.com/ajax/libs/marked/0.3.5/marked.js"></script>
<div class="show-poem">
  <h1 class="show-h"><%= version.title %></h1>
  <% if (index === 0) { %>
    <h2 class="show-h">Original author: <%= version.username %> <a href='mailto:<%= version.userEmail %>?subject=Collaboetry: a note about your poem, "<%= version.title %>"'>(Contact this sucka!)</a></h2>
  <% } else { %>
    <h2 class="show-h">Edited by: <%= version.username %> <a href='mailto:<%= version.userEmail %>?subject=Collaboetry: a note about the edits you made to the poem, "<%= version.title %>"'>(Contact this sucka!)</a></h2>
  <% }; %>
  <div class="show-poem-content">
    <%- marked(version.content) %>
  </div>
  <div class="show-poem-comments">
            <span class="comments-span">Comments on this version, from <%= version.username %>: </span><%= versionComments.comments %>
  </div><br>
  <% if (index === 0) { %>
    <p class="show-footer">First posted by <%= version.username %> on <%=version.date %></p>
  <% } else { %>
    <p class="show-footer">Edit submitted by <%= version.username %> on <%=version.date %></p>
  <% }; %>
  <p class="show-footer">See all versions of this poem <a href='/poems/authors/<%= poetID %>/<%= poemID %>/previous'><b>here</b></a></p>
</div>

<!-- <% if (version.username === currentUsername || currentUsername === authorName) { %>
<form id="delete-form" action='/authors/<%= poetID %>/<%= poemID %>/<%= version._id %>?_method=DELETE' method="post">
      <button id="delete-button">Delete This Version, <%= currentUsername %>!</button>
</form>
<% }; %> -->
