<script src="https://cdnjs.cloudflare.com/ajax/libs/marked/0.3.5/marked.js"></script>
<div class="show-poem">
  <% var versionLength = poem.previousVersions.length - 1; %>
  <h1><%= poem.previousVersions[versionLength].title %></h1>
  <h2>by: <%= poem.previousVersions[versionLength].authorName %> <a href='mailto:<%= poem.authorEmail %>?subject=Collaboetry: a note about your poem, "<%= poem.previousVersions[versionLength].title %>"'>(Contact this sucka!)</a></h2>
  <textarea readonly
            class="show-poem-textarea"><%= poem.previousVersions[versionLength].content %></textarea>
  <% poem.commentsHistory.forEach(function(comment, i) { %>
  <textarea readonly
            class="show-poem-comments">
            COMMENT FROM <%= poem.commentsHistory[i].username %>: <%= comment.comments %></textarea><br>
  <% }); %>
</div>
  <h1 class="suggest-edit"><a href='/poems/authors/<%= poem.poetID %>/<%= poem._id %>/edit'>Suggest an edit to this poem?</a></h1>
