<script src="https://cdnjs.cloudflare.com/ajax/libs/marked/0.3.5/marked.js"></script>
<div class="show-poem">
  <h1><%= poem.title %></h1>
  <h2>by: <%= poem.authorName %> <a href='mailto:<%= poem.authorEmail %>?subject=Collaboetry: a note about your poem, "<%= poem.title %>"'>(Contact this sucka!)</a></h2>
  <textarea readonly
            class="show-poem-textarea"><%= poem.content %></textarea>
  <textarea readonly
            class="show-poem-comments">
            COMMENTS FROM THE AUTHOR: <%= poem.comments %></textarea><br>
  <a href='/poems/authors/<%= poem.poetID %>/<%= poem._id %>/edit'>Suggest an edit to this poem?</a>
