<div class="show-poem">
  <% var versionLength = poem.previousVersions.length - 1; %>
  <h1 class="show-h"><%= poem.previousVersions[versionLength].title %></h1>
  <h2 class="show-h">by: <%= poem.authorName %> <a href='mailto:<%= poem.authorEmail %>?subject=Collaboetry: a note about your poem, "<%= poem.previousVersions[versionLength].title %>"'>(Contact this sucka!)</a></h2>
  <div class="show-poem-content">
    <%- marked(poem.previousVersions[versionLength].content) %>
  </div>
  <% poem.commentsHistory.forEach(function(comment, i) { %>
  <div class="show-poem-comments">
            <span class="comments-span">Comments from <%= poem.commentsHistory[i].username %>: </span><%= comment.comments %>
  </div><br>
  <% }); %>
  <% if (poem.previousVersions.length === 1) { %>
    <p class="show-footer">First posted to Collaboetry by <%= poem.authorName %> at <%= poem.date %></p>
  <% } else { %>
    <p class="show-footer">Last modified by <%= poem.commentsHistory[versionLength].username %> on <%=poem.date %></p>
    <p class="show-footer">See previous versions of this poem <a href='/poems/authors/<%= poem.poetID %>/<%= poem._id %>/previous'>here</a></p>
  <% } %>
</div>

<button class="suggest-edit"><a href='/poems/authors/<%= poem.poetID %>/<%= poem._id %>/edit'>Suggest an edit to this poem?</a></button>
<% if (poem.poetID == currentUser) { %>
<form id="delete-form" action='/poems/authors/<%= poem.poetID %>/<%= poem._id %>?_method=DELETE' method="post">
      <button id="delete-button">Delete This Poem, <%= poem.authorName %>!</button>
</form>
<% }; %>
